<% if flash.has?(:message) %>
    <h2 style="color:red;"><%= flash[:message] %></h2>
<% end %>

<form action="/recipes/<%= @recipe.id %>" method="POST">
    <input type="hidden" name="_method" value="patch">

    <label>Name: </label>
    <input type="text" name="recipe[name]" id="<%= @recipe.id %>" value="<%= @recipe.name %>"><br><br>
    <label>Ingredient: </label>
    <textarea name="recipe[ingredient]" id="<%= @recipe.id %>" cols="30" rows="5"><%= @recipe.ingredient%></textarea><br><br>
    <label>Cooking Process:</label>
    <textarea name="recipe[process]" id="<%= @recipe.id %>" cols="30" rows="5"><%= @recipe.process %></textarea><br>

    <input type="submit" class="button" value="Save">
</form>