<% if flash.has?(:message) %>
    <h2 style="color:red;"><%= flash[:message] %></h2>
<% end %>

<h4> Welcome <%= @current_user.username %> </h4>

<form action="/recipes" method="POST">
    <h3>Existing Recipes</h3>

    <% @recipes.each.with_index(1) do |recipe, index| %>
        <p><%= index %>- <a href="<%= recipe.id %>"><%= recipe.name %></a></p>
    <% end %>

    <h3>Create A new Recipe</h3>
    <strong>Name: </strong><input type="text" name="recipe[name]" value=""><br>
    <strong>Ingredient: </strong><textarea name="recipe[ingredient]" cols="30" rows="3" value=""></textarea>
    <strong>Cooking Process:</strong><textarea name="recipe[process]" cols="30" rows="3" value=""></textarea>
    <br>
    <input type="submit" class="button" value="Create">
</form>