<a href="/recipes/new">Recipe Id: </a>

<% if flash.has?(:message) %>
    <h2 style="color:red;"><%= flash[:message] %></h2>
<% end %>


<% if !@current_user.recipes.include?(@recipe) %>
    <%= @recipe.id %> <br>
    <p>
        <strong>Name: </strong><%= @recipe.name %><br><br>
        <strong>Ingredients: </strong><%= @recipe.ingredient %><br><br>
        <strong>Process: </strong><%= @recipe.process %>
    </p>

    <form action="/recipes/<%= @recipe.id %>" method="POST">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" class="button"  value="Delete Recipe">
    </form>

    <h2>Comments</h2>
    <% @recipe.comments.each.with_index(1) do |comment, index| %>
        <%= index %>-<%= comment.content %><br><br>
        <% if comment.user_id == current_user.id %>
            <form action="/recipes/<%= @recipe.id %>/comments/<%= comment.id %>" method="POST">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" class="link" value="Delete Comment"/>
            </form>
            <a href="/recipes/<%= @recipe.id %>/comments/<%= comment.id %>/edit" class="link">Edit Comment</a><br><br>
        <% end %>
    <% end %><br> <br>

    <form action="/recipes/<%= @recipe.id %>/comments" method="POST">
        <textarea name="comment[content]" id="" cols="30" rows="5" placeholder="write your comment"></textarea>
        <input type="submit" class="button" value="Add Comment">
    </form><br>

<% else %>
    <%= @recipe.id %><br><br>
    <strong>Name: </strong><%= @recipe.name %><br><br>
    <strong>Ingredients: </strong><%= @recipe.ingredient %><br><br>
    <strong>Process: </strong><%= @recipe.process %><br><br>

    <a href="/recipes/<%= @recipe.id %>/edit" class="button">Edit Recipe</a><br><br>

    <form action="/recipes/<%= @recipe.id %>" method="POST">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" class="button" value="Delete Recipe">
    </form>

    <h2>Comments</h2>
    <% @recipe.comments.each.with_index(1) do |comment, index| %>
        <%= index %>-<%= comment.content %><br><br>
        <% if comment.user_id == current_user.id %> 
            <form action="/recipes/<%= @recipe.id %>/comments/<%= comment.id %>" method="POST">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" class="link" value="Delete Comment"/>
            </form>
            <a href="/recipes/<%= @recipe.id %>/comments/<%= comment.id %>/edit" class="link">Edit Comment</a><br><br>
        <% end %>
    <% end %><br>

    <form action="/recipes/<%= @recipe.id %>/comments" method="POST">
        <textarea name="comment[content]" id="" cols="30" rows="3" placeholder="write your comment"></textarea>
        <input type="submit" class="button" value="Add Comment">
    </form><br>

<% end %>

